{% extends 'base.html.twig' %}

{% block title %}Welcome, {{ user.username }}!{% endblock %}

{% block stylesheets %}
    <style>
        .container {
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: white;
            width: 350px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
    <body style="background-color: pink;">
        <div class="container" style="margin-top:200px;">
            <h1>Welcome, {{ user.username }}!</h1>
            <p>Your ideal weight is {{ poidsIdeal | number_format(1, ',', ' ') }} kg.</p>
            {% if user.weight > poidsIdeal %}
                <p>You are overweight.</p>
            {% elseif user.weight < poidsIdeal %}
                <p>You are underweight.</p>
            {% else %}
                <p>You have an ideal weight.</p>
            {% endif %}
            <a href="{{ path('user.fitness', {id: user.id}) }}" class="btn btn-primary" style="color:purple;font-size:25px;">Next</a>
        </div>
    </body>
{% endblock %}
