{# templates/user/fitness.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Programme de Fitness{% endblock %}

{% block body %}
 <body style="background-color: pink;">
    <div style="margin: 20px auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: white; width: 350px; text-align: center;margin-top:200px;">
        <h1>Fitness Program For {{ user.username }}</h1>
        <p>We'll help you reach your ideal size with our fitness program.</p>
        <a href="{{ path('user.fitness_start', {id: user.id}) }}" class="btn btn-primary" style="color:purple;font-size:20px;">Start Now!</a>
    </div>
    </body>
{% endblock %}